footer {
    background-color: $color-Dark-Gray;
    .attribution {
        font-size : 1.3rem;
        text-align: center;
        padding: 5px;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}