.sections {
    z-index: 0;

    picture {
        display            : block;
        position           : relative;
        height             : 390px;
        background-position: center;
        background-size    : cover;
        background-repeat  : no-repeat;
    }

    .text-container {
        display           : grid;
        grid-template-rows: auto;
        padding           : 20px 30px;
        gap               : 20px;

        h2 {
            font-size        : $font-size-title;
            font-weight      : $font-weight3;
            color            : $color-Black;
            text-transform   : uppercase;
        }

        p {
            font-size: $font-size;
            color    : $color-Very-Dark-Gray;
            font-weight: $font-weight1;
        }


    }

}

.first-section {
    .back-img1 {
        background-image: url('../images/mobile-image-hero-1.jpg');
    }

    .back-img2 {
        background-image: url('../images/mobile-image-hero-2.jpg');
    }

    .back-img3 {
        background-image: url('../images/mobile-image-hero-3.jpg');
    }

    #picture {
        div {
            position        : absolute;
            bottom          : 0px;
            right           : 0px;
            display         : flex;
            align-items     : center;
            justify-content : space-around;
            width           : max-content;
            background-color: $color-Black;
            height          : 40px;
            width           : 120px;

            span {
                height             : inherit;
                width              : inherit;
                background-position: center;
                background-repeat  : no-repeat;

                &:active {
                    background-color: $color-Dark-Gray;
                }
            }

            #change-img-left {
                background-image: url('../images/icon-angle-left.svg');
            }

            #change-img-right {
                background-image: url('../images/icon-angle-right.svg');

            }

            hr {
                height          : 100%;
                background-color: $color-Whit;
            }
        }
    }

    .text-container {
        .shop-div {
            display           : flex;
            align-items       : center;
            justify-content   : left;
            gap               : 10px;
            padding-left      : 30px;


            a {
                font-size      : $font-size-title;
                font-weight    : $font-weight1;
                letter-spacing : 5px;
                text-decoration: none;
                color          : $color-Black;

                &:active {
                    color: $color-Dark-Gray
                }
            }
        }
    }
}




.second-section {
    .text-container {
        height: auto;
    }

    .second-img {
        background-image: url('../images/image-about-dark.jpg');
    }

    .third-img {
        background-image: url('../images/image-about-light.jpg');
    }
}