@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
$font-size        : 1.2rem;
$font-size-title  : 2.5rem;
$font-family      : 'Spartan';
$font-weight1     : 500;
$font-weight2     : 600;
$font-weight3     : 700;
$color-Dark-Gray  :hsl(0, 0%, 63%);
$color-Black      :hsl(0, 0%, 0%);
$color-Whit       :hsl(0, 0%, 100%);
$color-Very-Dark-Gray: hsl(0, 0%, 27%);